<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>


<div id="app">
    <div :style="styleObjectBox">
        <h5>output</h5>
        <div :style="styleObjectOutput">
            <h3>Click to change style</h3>
            <button type="submit" @click="changeTURBO">TURBO</button>
            <button type="submit" @click="changeJELLY">QUINCE JELLY</button>
            <button type="submit" @click="changePINK">CARMINE PINK</button>
            <button type="submit" @click="changeBLUE">BLUE</button>
            <button type="submit" @click="changeBLURPLE">BLURPLE</button>
        </div>
    </div>
</div>


<script>
var app = new Vue({
  el: "#app",
  data: {
    styleObjectBox: {
      display: "block",
      background: "#e7e9db",
      "border-radius": "10px",
      color: "#35495e",
      padding: "15px 15px 00px 15px",
      "box-shadow": "3px 6px 15px rgb(78, 94, 112)"
    },
    styleObjectOutput: {
      display: "block",
      background: "whitesmoke",
      "border-radius": "10px",
      color: "#4f424c",
      padding: "0.5em",
      "margin-bottom": "15px"
    }
  },
  methods: {
    changeTURBO() {
      this.styleObjectBox.background = "#535c68";
      this.styleObjectBox.color = "whitesmoke";
      this.styleObjectOutput.background = "#95afc0";
      this.styleObjectOutput.color = "#whitesmoke";
    },
    changeJELLY() {
      this.styleObjectBox.background = "#f0932b";
      this.styleObjectBox.color = "whitesmoke";
      this.styleObjectOutput.background = "#ffbe76";
      this.styleObjectOutput.color = "#whitesmoke";
    },
    changePINK() {
      this.styleObjectBox.background = "#eb4d4b";
      this.styleObjectBox.color = "whitesmoke";
      this.styleObjectOutput.background = "#ff7979";
      this.styleObjectOutput.color = "#whitesmoke";
    },
    changeBLUE() {
      this.styleObjectBox.background = "#22a6b3";
      this.styleObjectBox.color = "whitesmoke";
      this.styleObjectOutput.background = "#7ed6df";
      this.styleObjectOutput.color = "#whitesmoke";
    },
    changeBLURPLE() {
      this.styleObjectBox.background = "#4834d4";
      this.styleObjectBox.color = "whitesmoke";
      this.styleObjectOutput.background = "#686de0";
      this.styleObjectOutput.color = "whitesmoke";
    }
  }
});
</script>


</body>

</html>